<% provide(:title, 'Contact Me') %>

<div class="jumbotron">
	<h1>Contact Me</h1>

	<form class="form-horizontal">
		<fieldset>

			<!-- Form Name -->
			<legend>Let's Network</legend>

			<!-- Name input-->
			<div class="control-group">
				<label class="control-label" for="name">Name</label>
				<div class="controls">
					<input id="name" name="name" type="text" placeholder="John Doe" class="input-xlarge" required="">
				</div>
			</div>

			<!-- Email input-->
			<div class="control-group">
				<label class="control-label" for="textinput">Email Address</label>
				<div class="controls">
					<input id="textinput" name="textinput" type="text" placeholder="user@example.com" class="input-xlarge" required="">
				</div>
			</div>

			<!-- Textarea -->
			<div class="control-group">
				<label class="control-label" for="content">Message</label>
				<div class="controls">                     
					<textarea id="content" placeholder="Enter your message" name="content"></textarea>
				</div>
			</div>

			<!-- Button -->
			<div class="control-group">
				<label class="control-label" for="submitbutton"></label>
				<div class="controls">
					<button id="submitbutton" name="submitbutton" class="btn btn-primary">Send Email</button>
				</div>
			</div>

		</fieldset>
	</form>

</div>