//=======================================================================================
@import "bootstrap";
//=======================================================================================

/* universal */
html {
	overflow-y: scroll;
}

body {
	padding-top: 100px;
	font-family: 'Abel', sans-serif !important;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 5px;	
		font-family: 'LeagueGothic' !important;
		font-size: 3em !important;
		letter-spacing: -2px;
		margin-bottom: 30px;
		text-align: center;
	}
}

/* typography */
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-family: 'Abel', sans-serif !important;
}

h1 {
	
	font-size: 4em !important;

}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */
header {
	.container {
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		height: 80px;
	}
}

#logo {
	float: left;
	margin: 5px 0 10px 5px;
	width: 115px;
	height: 64px;
}

.navbar-inner {
	height: 80px;
}

.collapse {
	margin-top: 25px;
	li {
		float: right;
		margin: 0 -15px 0 0px;
		a {
			color: #999;
			font-size: 1.5em !important;
			font-family: 'Abel', sans-serif;
			font-weight: normal;
			letter-spacing: -1px;
			&:hover {
				color: #FF6800 !important;
				text-shadow:0 0 1px #FFA05F !important;
			}
		}
	}
}

.current-item a {
	color: #FF6800 !important;
	text-shadow:0 0 1px #FFA05F !important;
}

.navbar-toggle {	
	background-image:none !important;
	border-radius:4px !important;
	float:right !important;
	margin-top: 22px !important;
	padding:9px 10px !important;
	position:relative !important;
}

/* footer */
.footer-bar {	
	height: 50px;
	width: 100%;
	position: relative;
	bottom: 0px;
	clear: both;
	margin-top: -60px;
	p {
		color: #999;
		font-size: .938em;
	}
	.container {
		border-top: 1px solid #DDD;
		padding-top: 10px;
		padding-left: 10px;
		line-height: 1;
	}
}

/* contact form */

.form-submit input {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: auto;
	cursor: pointer;
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 6px 6px 6px 6px;
	font-size: 15px;
	padding: 11px 19px;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	vertical-align: middle;
	line-height: 20px;
	margin-bottom: 0;
	display: inline-block;
	&:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF6800), color-stop(1, #FF8D40) );
		background:-moz-linear-gradient( center top, #FF6800 5%, #FF8D40 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6800', endColorstr='#FF8D40');
		background-color:#FF6800;
	}
}

.form-group {
	label {
		font-size: 1.25em !important;
	}
}

/* RECAPTCHA CUSTOM CSS */
#recaptcha_image,
#recaptcha_image img {
	width: 200px !important;
	cursor: pointer;
}

#recaptcha_image img:hover {
	position: absolute;
	width: 300px !important;
}
.recaptcha_only_if_image,
.recaptcha_only_if_audio {
	display: block;
}

.recaptcha_custom {
	max-width: 350px;
	border-radius: 4px;
	padding: 10px;
	-webkit-box-shadow: 4px 0px 13px -2px rgba(148,146,148,1);
	-moz-box-shadow: 4px 0px 13px -2px rgba(148,146,148,1);
	box-shadow: 4px 0px 13px -2px rgba(148,146,148,1);
	p {
		font-size: 0.75em;
		color: #999;
	}
}

/* container */
.wrapper {
	margin-bottom: 100px;
}
