@font-face {
	font-family: 'LeagueGothic';
	src: font-url('leaguegothic-regular.eot'); /* IE9 Compat Modes */
	src: font-url('leaguegothic-regular.eot?#iefix') format('embedded-opentype'), 
	font-url('leaguegothic-regular.woff') format('woff'),
	font-url('leaguegothic-regular.ttf')  format('truetype'),
	font-url('leaguegothic-regular.svg') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LeagueGothicItalic';
	src: url('/assets/leaguegothic-italic.eot'); /* IE9 Compat Modes */
	src: url('/assets/leaguegothic-italic.eot?#iefix') format('embedded-opentype'), 
	url('/assets/leaguegothic-italic.woff') format('woff'),
	url('/assets/leaguegothic-italic.ttf')  format('truetype'),
	url('/assets/leaguegothic-italic.svg') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LeagueGothicCondensedItalic';
	src: url('/assets/leaguegothic-condenseditalic.eot'); /* IE9 Compat Modes */
	src: url('/assets/leaguegothic-condenseditalic.eot?#iefix') format('embedded-opentype'), 
	url('/assets/leaguegothic-condenseditalic.woff') format('woff'),
	url('/assets/leaguegothic-condenseditalic.ttf')  format('truetype'),
	url('/assets/leaguegothic-condenseditalic.svg') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LeagueGothicCondensedRegular';
	src: url('/assets/leaguegothic-condensedregular.eot'); /* IE9 Compat Modes */
	src: url('/assets/leaguegothic-condensedregular.eot?#iefix') format('embedded-opentype'), 
	url('/assets/leaguegothic-condensedregular.woff') format('woff'),
	url('/assets/leaguegothic-condensedregular.ttf')  format('truetype'),
	url('/assets/leaguegothic-condensedregular.svg') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}